{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
      ["lodash"],
      "@babel/plugin-proposal-class-properties",
      ["babel-plugin-styled-components"],
      [
        "module-resolver",
        {
          "root": ["./src"],
          "cwd": "babelrc",
          "loglevel": "verbose",
          "alias": {
            "#/assets": "./src/assets",
            "#/components": "./src/components",
            "#/constants": "./src/constants",
            "#/context": "./src/context",
            "#/hooks": "./src/hooks",
            "#/modules": "./src/modules",
            "#/router": "./src/router",
            "#/services": "./src/services",
            "#/styles": "./src/styles",
            "#/utils": "./src/utils",
            "#/config": "./src/config.js",
            "#/queries": "./src/queries",
            "#/mutations": "./src/mutations",
            "#/theme": "./src/theme",
            "#": "./src"
          },
          "extensions": [".js", ".jsx", ".json", ".svg"]
        }
      ]
    ]
  }
  